body {
	background-color: #000;
}
#container{
	width: 1000px;
	height: 600px;
	margin: 20px;
}
#ryu {
	height: 265px;
	width: 116px;
	top: 77px;
	left: 156px;
	position: absolute;
	background-image: url("../img/ryuSpriteSheet.png");
	background-repeat: no-repeat;
	background-size: 3000px 3000px;
	background-position: 12px -51px;
}
/*	animation: ryu 1s steps(4);
  	animation-delay: 1s;
  	animation-iteration-count: infinite;
}
@keyframes ryu {
	0% {
	  	left:-51px;
	}
	25%{
		left:-100px;
	}
	50%{
		left:-150px;
	}
	75%{
		left:-200px;
	}
	100%{
		left:-250px;
	}*/
.buttons {
	height: 162px;
	width: 190px;
	margin-left: -1px;
	position: relative;
	float: left;
	opacity: .5;
	background-image: url("../img/buttons.png");
	background-repeat: no-repeat;
	
	
}
#red {
	background-position: -3px -5px;
	margin-left: 440px;

}
#red:active {
	background-position: -3px -209px;
}

#blue {
	background-position: -405px -5px;

}
#blue:active {
	background-position: -405px -209px;

}
#green {
	background-position: -205px -5px;
	margin-top: -33px;
	margin-left: 540px;
	clear: left;
}
#green:active {
	background-position: -205px -209px;
}
#yellow {
	background-position: -605px -5px;
	margin-top: -33px;
}
#yellow:active {
	background-position: -605px -209px;
}
.buttonclick {
	opacity: 1;
}
