body {
	background-color: #000;
}
#container{

	margin: 20px;
}
.buttons {
	height: 200px;
	width: 200px;
	margin-left: 200px;
	position: relative;
	float: left;
	opacity: .5;
}
#red {
	background-color: red;

}
#blue {
	background-color: #0058ff;

}
#green {
	background-color: #10f610;
	clear: left;
}
#yellow {
	background-color: yellow;

}
.buttonclick {
	opacity: 1;
}
