body {
	background-color: #000;
	margin: 0px;
}
@font-face {
  font-family: "PressStart2P";
  src: url("/fonts/PressStart2P-Regular.ttf") format("truetype");
}
#container{
	width: 1000px;
	height: 600px;
	margin: 20px;
}
#title{
	background-image: url("../img/streetSimonTitle.gif");
	width: 300px;
	height: 165px;
	top: 345px;
	right: 18px;
	position: absolute;
	background-size: 300px 165px;
	background-repeat: no-repeat;

}
#startScreen{
	height: 100vh;
	width: 100vw;
	background-color: black;
	margin: none;
	padding: none;
}
#logo {
	content: url(../img/title.gif);
	width: 760px;
	position: absolute;
	left: 25%;
	top: 7vh;
	animation: logofade 3s;
}
@keyframes logofade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#pressSpacebar {
	content: url(../img/start.png);
	width: 590px;
	position: absolute;
	left: 28vw;
	top: 80vh;
	animation: logofade 3s;
}

#ryu {
	height: 339px;
  width: 188px;
  top: 118px;
  left: 124px;
	background-position-x:-776px;
}



.buttons {
	height: 162px;
	width: 190px;
	margin-left: -1px;
	position: relative;
	float: left;
	opacity: .5;
	background-image: url("../img/buttons.png");
	background-repeat: no-repeat;


}
#red {
	background-position: -3px -5px;
	margin-left: 440px;

}


#blue {
	background-position: -405px -5px;

}

#green {
	background-position: -205px -5px;
	margin-top: -33px;
	margin-left: 540px;
	clear: left;
}

#yellow {
	background-position: -605px -5px;
	margin-top: -33px;
}

/*.buttonDepress{
	background-position-y: -209px;
}*/
.buttonclick {
	opacity: 1;
}
#score {
	color: orange;
	font-family: "PressStart2P";
	font-size: 27px;
	margin-left: 25px;
}
